.detailBox{
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    top: 200px;
    width: 500px;
    z-index: 10;
    background-color: rgba(140, 140, 140, 0.8);
    border-radius: 10px;
    animation: showDetail 1.5s;
}

.detailBox table{
    width: 100%;
    text-align: center;
}

.detailBox #staffEditDescrip {
    overflow-x: hidden;
}

.detailBox p{
    display: none;
    text-align: center;
}

.detailBox .buttonBox {
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.detailBox .buttonBox button{
    width: 70px;
    height: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

.detailBox input,
.detailBox select{
    width: 170px;
    height: 20px;
}
